<div class="dropdown">
    <button (click)="toggle()" class="dropbtn"><i class="material-symbols-outlined menu-icon">menu</i></button>
</div>
<div class="dropdown-container" *ngIf="isOpen" @dropDown>
    <div *ngIf="showLogin">
        <button class="loginBtn" (click)="onLogin()"><i class="material-symbols-rounded loginIcon">account_circle</i>Login</button> 
    </div>
    <div *ngFor="let link of links; let i = index" class="dropdown-content">
        <a [routerLink]="links[i]" routerLinkActive="active"><i class="material-symbols-outlined dash-icon">{{linkIcons[i]}}</i>{{linkText[i]}}</a>
    </div>
</div>