  .dropbtn {
    background-color: #04aa6d00;
    color: var(--sh-offwhite);
    cursor: pointer;
    padding: 0.75rem;
    border: none;
  }

  .loginBtn {
    width: 100%;
    text-align: left;
    background-color: var(--sh-darkgrey);
    color: var(--sh-offwhite);
    cursor: pointer;
    border: none;
    padding: 0.75rem;
    font-family: 'Harmattan';
    font-size: 1.35rem;
  }

  .loginIcon {
    position: relative;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    font-size: 2rem;
    vertical-align: middle;
  }
  
  .menu-icon {
    font-size: 2.25rem;
  }

  .dropdown {
    display: contents;
  }

  .dropdown-container {
    background-color: var(--sh-darkgrey);
    min-height: calc(100vh - 4rem);
    width: 15rem;
  }
  
  .dropdown-content {
    font-size: 1.35rem;
    font-family: 'Harmattan';
  }
  
  .dropdown-content a {
    padding: 0.75rem;
    max-height: 5rem;
    color: var(--sh-offwhite);
    text-decoration: none;
    display: block;
  }

  .settings-icon {
    position: relative;
    font-size: 2rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    vertical-align: middle;
  }

  .dash-icon {
    position: relative;
    font-size: 2rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    vertical-align: middle;
  }
  
  .loginBtn:hover {
    background-color: var(--sh-lightgrey);
  }

  .dropdown-content a:hover {background-color: var(--sh-lightgrey);}

  
