<!-- <div class="textInputs">
    <sh-text [onChangeEmitter]="fNameEmitter" tLabel="FIRST NAME" componentID="fName"></sh-text><br>
    <sh-text [onChangeEmitter]="updateUsernameEmitter" tLabel="USERNAME" componentID="userInput"></sh-text><br>
    <sh-text [onChangeEmitter]="updatePasswordEmitter" [isPwd]="true" tLabel="PASSWORD" componentID="pwdInput"></sh-text><br>
    <sh-text [onChangeEmitter]="confirmPasswordEmitter" [isPwd]="true" tLabel="CONFIRM PASSWORD" componentID="confirmPwdInput"></sh-text>
</div>
<div class="loginBtn">
    <button-simple shClass="login" [onChangeEmitter]="createUserEmitter" bLabel="CREATE ACCOUNT" componentID="loginBtn"></button-simple>
</div>
<h3 class="warning" *ngIf="pwdMatchWarning">Passwords Do Not Match</h3>
<h3 class="warning" *ngIf="fillAllWarning">Please Fill Out Every Field</h3>
<h3 class="warning" *ngIf="userExistsWarning">A User With This Username Already Exists</h3>
<div class="switchView">
    <h3 class="q">Already Have an Account?</h3>
    <h3 class="login" (click)="switchBack()">Login</h3>
</div> -->
