.login {
    position: relative;
    width: 100%;
    min-height: 2rem;
    border-radius: 0.5rem;
    border-style: none;
    border: 0;
    background-color: var(--sh-offwhite);
    font-family: 'Outfit';
    font-size: 1rem;
    color: var(--sh-darkgrey);
}

.dragBtn {
    position: relative;
    width: 100%;
    min-height: 2rem;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(139, 139, 139);
    padding: 1.5%;
    border-style: none;
}

.dragBtn:hover {
    cursor: pointer;
    color: var(--sh-darkgrey);
}