
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-height: 3rem;
  max-width: 8rem;
}

.title {
    flex-shrink: 0;
    font-size: 1.75rem;
    font-weight: 400;
}

.loginBtn {
    background-color: transparent;
    border: none;
    color: var(--sh-offwhite);
    padding: 0.75rem;
}

.userText {
    color: var(--sh-offwhite);
    font-size: 1.35rem;
    font-weight: 300;
    flex-shrink: 1;
    display: inline-block;
    vertical-align: middle;
    line-height: 3.75rem;
}

.loginIcon {
    position: relative;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    font-size: 2rem;
    font-weight: 100;
    vertical-align: middle;
}

.menuContainer {
    flex-shrink: 0;
    padding: 0.75rem;
}

.menuBtn {
    background-color: #04aa6d00;
    color: var(--sh-offwhite);
    border: none;
}

.menu-icon {
    font-size: 2rem;
}

.navbar {
    font-family: var(--primary-font) !important;
    background-color: var(--sh-darkgrey);
    filter: drop-shadow(0px 4px 1.5px rgb(32, 32, 32));
    z-index: 2;
}

.logout {
    color: var(--sh-offwhite);
    text-align: center;
}

.menu-icon:hover {
    cursor: pointer;
    color: var(--sh-lightblue);
}

.addIcon:hover {
    color: var(--sh-offwhite-hover)
}

.loginBtn:hover {
    cursor: pointer;
    color: var(--sh-lightblue);
}

.logout:hover {
    color: var(--sh-lightblue);
}
