
.title {
    flex-shrink: 0;
}

.loginBtn {
    color: var(--sh-offwhite);
    border: none;
    padding: 0.75rem;
    font-family: 'Harmattan';
    font-size: 1.35rem;
    flex-shrink: 1;
}

.loginIcon {
    position: relative;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    font-size: 2rem;
    vertical-align: middle;
}

.menuBtn {
    background-color: #04aa6d00;
    color: var(--sh-offwhite);
    padding: 0.75rem;
    border: none;
    flex-shrink: 0;
}

.menuBtn:hover {
    cursor: pointer;
    color: var(--sh-offwhite-hover);
}

.menu-icon {
    font-size: 2rem;
}

.navbar {
    background-color: var(--sh-darkgrey);
    filter: drop-shadow(0px 4px 1.5px rgb(32, 32, 32));

}

.addIcon:hover {
    color: var(--sh-offwhite-hover)
}

.loginBtn:hover {
    cursor: pointer;
    color: var(--sh-offwhite-hover);
}