<div class="textInputs">
    <form class="fullWidth floatLeft positionRelative">
        <mat-form-field class="fullWidth floatLeft positionRelative">
          <input matInput name="deviceName" [(ngModel)]="deviceName" placeholder="Device Name">
        </mat-form-field>
        <mat-form-field class="fullWidth floatLeft positionRelative">
          <mat-label>Device Type</mat-label>
          <mat-select name="deviceType" [(ngModel)]="deviceType">
            <mat-option *ngFor="let deviceType of deviceTypes" [value]="deviceType.name">
              {{deviceType.displayName}}
            </mat-option>
        </mat-select>
        </mat-form-field>
    </form>
</div>
<div class="loginBtn">
    <button matInput mat-raised-button (click)="confirmNewDevice()" class="fullWidth floatLeft positionRelative">Register</button>
    <!-- <button-simple [onChangeEmitter]="confirmNewDeviceEmitter" shClass="login" bLabel="CONFIRM" componentID="loginBtn"></button-simple> -->
</div>

