.deviceName {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--sh-lightgrey);
}

.graphContainer {
    position: relative;
    width: 100%;
    height: 100%;
}
