
.sensor-graph-container {
  height: 100%;     /* take 20% of available dialog content height */
  width: 90%;
  /*display: flex;*/
}

.canvas {
  width: 100% !important;
  height: 100% !important;
}
