<div *ngIf="panelType == ''">
  <mat-selection-list [multiple]="false" [formControl]="panelTypeControl" *ngFor="let type of panelTypes">
    <mat-list-option [disabled]="panelTypeControl.value != null && panelTypeControl.value[0] != type.value" [value]="type.value">{{ type.display }}</mat-list-option>
  </mat-selection-list>

  <div class="registerBtn">
    <button mat-raised-button [disabled]="panelTypeControl.invalid" (click)="createPanel()" class="fullWidth floatLeft positionRelative">Add Panel</button>
  </div>
</div>
