.registerBtn {
  width: 100%;
  position: relative;
  height: auto;
  float: left;
  margin-top: 1.5rem;
  margin-bottom: -1rem;
  filter: drop-shadow(0px 0px 4px rgb(32, 32, 32));
}

.deviceFilterLabel {
  margin-bottom: 1rem;
  font-family: var(--primary-font);
}

.filterSelect {
  margin: 0 0.5rem 0 0.5rem;
}

/*.typeButton {*/
/*  width: 100%;*/
/*  margin-top: 1.5rem;*/
/*  !*margin-bottom: -1rem;*!*/
/*}*/

.nextButton {
  margin-bottom: -1rem;
  margin-top: 1.5rem;
}

.textInputs {
  width: 100%;
  position: relative;
  height: auto;
  float: left;
}

.popupTitle {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
  margin-top: -0.1rem;
}

.warningContainer {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.warning {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: rgb(245, 52, 52);
}
