<div class="deviceContainer">
  <div class="topBtns">
<!-- TODO: Replace drag handle with status indicator   -->
<!--    <div class="drag-handler flexGrow thirdWidth floatLeft positionRelative">-->
<!--      <i class="material-symbols-outlined dragHandle">drag_handle</i>-->
<!--    </div>-->
    <label *ngIf="device" class="centerText thirdWidth floatLeft positionRelative title">{{device.deviceNameFriendly}}</label>
    <div class="thirdWidth floatLeft positionRelative">
      <button type="button" class="material-symbols-outlined floatRight deleteButton" (click)="deleteDevice()">delete</button>
    </div>
  </div>
  <hr style="margin-bottom: 0">
  <div [ngSwitch]="deviceType">
    <div *ngSwitchCase="typeList.outlet" class="switchContents">
      <switch [device]="device"></switch>
    </div>
    <div *ngSwitchCase="typeList.sensor" class="contents">
      <sensor [device]="device"></sensor>
    </div>
  </div>
</div>
