.statusIndicator {
  cursor: default;
  margin: 0.35rem 0 0 0.5rem;
  flex-grow: 1;
  font-weight: 100;
  color: #41BE5C;
}

.expandButton {
  background-color: transparent;
  border: 0;
  margin: 0.35rem 0.5rem 0 0;
  cursor: pointer;
  font-weight: 100;
  padding: 0;
}

.expandButton:hover {
  color: var(--sh-lightblue);
}

.deleteButton {
  background-color: transparent;
  border: 0;
  margin: 0.35rem 0.5rem 0 0;
  cursor: pointer;
  font-weight: 100;
  padding: 0;
}

.deleteButton:hover {
    color: var(--sh-red);
}

.contents {
    display: block;
    height: 85%;
}

.switchContents {
    position: relative;
    width: 100%;
    height: 80%;
}

.deviceContainer {
    height: 125px;
    width: 250px;
    background-color: var(--sh-offwhite);
    padding: 0.001rem;
    border-radius: 0.4rem !important;
    box-shadow: 0 4px 6.5px black !important;
}

.topBtns {
    display: flex;
    position: relative;
    width: 100%;
    padding: 0.25rem 0 0 0;
}

.title {
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--sh-darkgrey);
    align-self: center;
    flex-grow: 1;
}

