<div class="deviceContainer">
  <div class="topBtns">
<!-- TODO: Wire up status indicator   -->
    <div class="floatLeft positionRelative">
      <i class="material-symbols-outlined statusIndicator">android_wifi_4_bar</i>
    </div>
    <label *ngIf="device" class="centerText flexGrow floatLeft positionRelative title">{{device.deviceNameFriendly}}</label>
    <div *ngIf="editModeActive" class="floatLeft positionRelative">
      <button type="button" class="material-symbols-outlined floatRight deleteButton" (click)="deleteDevice()">delete</button>
    </div>
    <div *ngIf="!editModeActive" class="floatLeft positionRelative">
      <button type="button" class="material-symbols-outlined floatRight expandButton" (click)="showDeviceStats()">monitoring</button>
    </div>
  </div>
  <hr style="margin-bottom: 0">
  <div [ngSwitch]="deviceType">
    <div *ngSwitchCase="typeList.outlet" class="switchContents">
      <switch [device]="device"></switch>
    </div>
    <div *ngSwitchCase="typeList.sensor" class="contents">
      <sensor [device]="device"></sensor>
    </div>
  </div>
</div>
