<!-- <div *ngIf="options.enableEmptyCellDrop" draggable="true" (dragstart)="dragStartHandler($event)">Drag me!</div> -->
<div #wrapper class="wrapper">
  <gridster *ngIf="options" class="grid" [options]="options">
    <div *ngFor="let panel of authService.getDashboardPanels(); let i = index; trackBy: trackByPanelId">
      <gridster-item *ngIf="panel.item" class="custom-gridster-item" [item]="panel.item">
        <dragdrop-item [panel]="panel"></dragdrop-item>
      </gridster-item>
    </div>
  </gridster>
</div>
