.wrapper {
  min-height: inherit;
}

.grid {
  min-height: inherit;
  width: 100%;
  background-color: var(--sh-lightgray);
  display: block;
  overflow: visible;
  position: relative;
  z-index: 0;
}
  