<div *ngIf="!isNewUser">
    <form class="fullWidth floatLeft positionRelative">
        <mat-form-field color="primary" class="fullWidth floatLeft positionRelative">
            <input matInput name="username" [(ngModel)]="username" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="fullWidth floatLeft positionRelative">
            <input matInput name="password" [(ngModel)]="password" placeholder="Password">
        </mat-form-field>
        <button matInput mat-raised-button (click)="attemptLogin()" class="fullWidth floatLeft positionRelative">Login</button>
    </form>
    <h3 class="or">or</h3>
    <h3 class="switchView" (click)="switchDisplay()">Create An Account</h3>
</div>
<div *ngIf="isNewUser">
    <form class="fullWidth floatLeft positionRelative">
        <mat-form-field color="primary" class="fullWidth floatLeft positionRelative">
            <input matInput [(ngModel)]="firstName" name="firstName" placeholder="First Name">
        </mat-form-field>
        <mat-form-field color="primary" class="fullWidth floatLeft positionRelative">
            <input matInput [(ngModel)]="username" name="newUsername" placeholder="Username">
        </mat-form-field>
        <mat-form-field class="fullWidth floatLeft positionRelative">
            <input matInput [(ngModel)]="password" name="newPassword" placeholder="Password">
        </mat-form-field>
        <mat-form-field class="fullWidth floatLeft positionRelative">
            <input matInput [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
        </mat-form-field>
        <button matInput mat-raised-button (click)="attemptLogin()" class="fullWidth floatLeft positionRelative">Register</button>
    </form>
    <div class="fullWidth floatLeft positionRelative centerText" style="margin-top: 1rem;">
        <div>Already Have an Account?</div>
        <div (click)="switchDisplay()" class="switchView">Login</div>
    </div>
</div>