.dragHandle {
    cursor: move;
    margin: 1rem;
    margin-top: 0.35rem;
    margin-bottom: 0;
    flex-grow: 1;
}

.deleteButton {
    background-color: transparent;
    border: 0;
    margin: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0;
    cursor: pointer;
    flex-grow: 0;
}

.deleteButton:hover {
    color: var(--sh-red);
}

.contents {
    display: block;
    height: 85%;
}

.switchContents {
    position: relative;
    width: 100%;
    height: 80%;
}

.deviceContainer {
    height: 100%;
    background-color: var(--sh-offwhite);
    padding: 0.001rem;
}

.topBtns {
    display: flex;
    position: relative;
    width: 100%;
    padding: 0.25rem 0 0 0;
}

.title {
    font-weight: 300;
    font-size: 1.5rem;
    color: var(--sh-darkgrey);
    align-self: center;
}
