<div class="deviceContainer">
  <div class="topBtns">
    <div class="drag-handler dragBtn">
      <button-simple shIcon="drag_handle" shClass="dragBtn"></button-simple>
    </div>
    <div class="deleteBtn">
      <button-simple shIcon="delete" shClass="dragBtn" [onChangeEmitter]="deleteDeviceEmitter" [emitterData]="emitterData"></button-simple>
    </div>
  </div>
  <div *ngIf="isSwitch && thisDevice" class="switchContents">
    <label class="switchLabel">{{deviceName}}</label>
    <sh-toggle [onChangeEmitter]="updateSwitchStateEmitter" [componentID]="componentID"></sh-toggle>
  </div>
  <div *ngIf="isSensor && thisDevice" class="contents">
    <div class="graphContainer">
      <sensorgraph [device]="thisDevice" [componentID]="thisDevice.deviceID"></sensorgraph>
    </div>
  </div>
</div>
  