<div class="deviceContainer">
  <div class="topBtns">
    <div class="drag-handler flexGrow thirdWidth floatLeft positionRelative">
      <i class="material-symbols-outlined dragHandle">drag_handle</i>
    </div>
    <label *ngIf="!isSwitch" class="centerText thirdWidth floatLeft positionRelative title">{{deviceName}}</label>
    <div class="thirdWidth floatLeft positionRelative">
      <button type="button" class="material-symbols-outlined floatRight deleteButton" (click)="deleteDevice()">delete</button>
    </div>
  </div>
  <div *ngIf="isSwitch && thisDevice" class="switchContents">
    <label class="switchLabel">{{deviceName}}</label>
    <sh-toggle [onChangeEmitter]="updateSwitchStateEmitter" [componentID]="componentID"></sh-toggle>
  </div>
  <div *ngIf="isSensor && thisDevice" class="contents">
    <div class="graphContainer">
      <sensorgraph class="graph" [device]="thisDevice" [componentID]="thisDevice.deviceID"></sensorgraph>
    </div>
  </div>
</div>
  