
.switchContainer {
  padding: 0.5rem 0;
}

.powerOn {
  color: var(--sh-lightblue);
}

.powerOff {
  color: var(--sh-offwhite-hover);
}

.plugIcon {
  padding-left: 0.15rem;
  color: var(--sh-offwhite-hover);
}
