
.scrollBtns {
  margin-top: 3.5rem;
}

.addButton {
  margin: 1rem 0 0 2rem;
}

.buttonStyle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--sh-lightblue);
}

.devices-page-container {
    min-height: inherit;
    height: 100%;
}

.devicePanel {
  padding: 1rem;
}

.devicesContainer {
  min-height: 10rem;
  max-height: 10rem;
  flex-direction: row;
  overflow: hidden;
  white-space: nowrap;      /* Prevent wrapping */
  gap: 1rem;                /* Optional spacing between items */
  padding: 0.5rem;
  scroll-behavior: smooth;  /* Optional for nicer scrolling */
}

.divider {
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 var(--sh-darkgrey); /* Shadow effect */
}

.rowTitle {
  font-size: 1.25rem;
  color: var(--sh-offwhite);
  font-weight: 100;
  margin-bottom: 0.15rem;
}

.deviceCarousel {
  min-height: 250px; /* Same as 2 gridster rows*/
  margin: 1.5rem 0 0 2rem;
}

.filterBreak {
  width: calc(100% - 3rem);
  margin: 0 1rem 1rem 2rem;
}

.deviceAccordion {
  margin: 1.5rem 1.5rem 2rem 2rem;
}

.deviceExpansionPanel {
  background-color: var(--sh-lightgrey);
  width: 100%;
  /*margin: 0 0 0.2rem 2rem;*/
}

.panelTitle {
  font-family: var(--primary-font);
  font-size: 1.25rem;
  color: var(--sh-offwhite);
  font-weight: 100;
}

.nav-icon {
    position: relative;
    font-size: 2rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    vertical-align: middle;
}

.navItems {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Allow this section to grow and fill available space */
    width: 100%;
    height: 100%;
}

.bottomItem {
    margin-top: auto;
}

.sidenav {
    background-color: var(--sh-darkgrey);
    width: 15rem;
    filter: drop-shadow(var(--sh-darkgrey) 3px 0px 2px);
}

.sidenav-container {
  background-color: var(--sh-lightgrey);
  height: calc(100% - 64px);
  z-index: auto !important;
}

.sidenav-content {
    padding: 0.75rem;
    max-height: 5rem;
    color: var(--sh-offwhite);
    text-decoration: none;
}

.sidenav-content a {
    padding: 0.75rem;
    max-height: 5rem;
    color: var(--sh-offwhite);
    text-decoration: none;
}

.sidenav-content a:hover {color: var(--sh-lightblue);}

.sidenav-content:hover {color: var(--sh-lightblue); cursor: pointer;}
