
:host {
  height: 100%;
  width: 100%;
}

:host > div {
  width: 100%;
  height: 100%;
}

.device-stats-popup {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.device-name {
  font-weight: bold;
  font-size: 2rem;
}

.popup-controls {
  display: flex;
  gap: 1rem;
}

.chart-content {
  height: 400px; /* or 100% if using flex grow */
}
