<div class="device-stats-popup">
  <!-- Header with device name and dropdowns -->
  <div class="popup-header">
<!--    <div class="thirdWidth"></div>-->
    <div class="device-name thirdWidth">{{ device!.deviceNameFriendly.toUpperCase() }}</div>

    <div class="popup-controls thirdWidth">
      <mat-form-field appearance="fill">
        <mat-label>Sensor</mat-label>
        <mat-select [(value)]="selectedSensor" (selectionChange)="onSensorChange($event.value)">
          <mat-option *ngFor="let s of sensorTypes" [value]="s">{{ s }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Timescale</mat-label>
        <mat-select [(value)]="selectedTimescale" (selectionChange)="onTimescaleChange($event.value)">
          <mat-option *ngFor="let t of timescaleKeys!" [value]="t">{{ timescales![t].display }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Chart container -->
  <mat-dialog-content class="chart-content">
    <sensorgraph
      [deviceId]="getDeviceId()"
      [selectedSensor]="selectedSensor"
      [selectedTimescale]="selectedTimescale">
    </sensorgraph>
  </mat-dialog-content>
</div>
