<div class="pageContent">
  <sh-navbar></sh-navbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav mode="side" class="sidenav">
      <div class="navItems">
        <div *ngFor="let link of links; let i = index" class="sidenav-content">
            <a [routerLink]="links[i]" routerLinkActive="active"><i
                    class="material-symbols-outlined nav-icon">{{linkIcons[i]}}</i>{{linkText[i]}}</a>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="page-content-container">
      <div class="editButtons">
        <button mat-fab class="floatRight buttonStyle" (click)="dataService.toggleEditMode()">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-fab class="floatRight buttonStyle slide-button" [class.active]="dataService.getEditMode()" (click)="addPanel()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <dragdrop-container></dragdrop-container>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

