<div class="fullWidth positionRelative floatLeft">
  <div [class.active]="isEditMode" class="drag-handler halfWidth floatLeft positionRelative topBtns">
    <i class="material-symbols-outlined positionRelative floatLeft dragHandle">drag_handle</i>
  </div>
  <div [class.active]="isEditMode" class="halfWidth floatLeft positionRelative topBtns">
    <button type="button" class="material-symbols-outlined floatRight deleteButton" (click)="deletePanel()">delete</button>
  </div>
  <div class="positionRelative floatLeft topBar">
    <div class="positionRelative floatLeft selectLabel">ROOM:</div>
    <mat-form-field class="form-field">
      <mat-select [formControl]="selectedFilterControl" (selectionChange)="onFilterChange($event)">
        <mat-option *ngFor="let filter of filterList" [value]="filter" >{{filter.roomName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider class="fullWidth positionRelative floatLeft divider"></mat-divider>
  </div>
  <div *ngIf="selectedFilterControl.value" class="displayFlex devicesContainer" #scrollContainer>
    <button mat-fab *ngIf="showScrollButtons" class="floatRight leftButtonStyle" (click)="scrollLeft()">
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div *ngFor="let device of deviceService.getDevicesByRoomId(selectedFilterControl.value.roomId); let i = index; trackBy: trackByDeviceId" class="devicePanel">
      <sh-device [device]="device"></sh-device>
    </div>
    <button mat-fab *ngIf="showScrollButtons" class="floatRight rightButtonStyle" (click)="scrollRight()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>

