.dragHandle {
  cursor: move;
  margin-left: 0.4rem;
}

.panelTitle {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--sh-offwhite);
}

.radioBtn {
  margin-right: 0.75rem;
  margin-top: 1rem;
  color: var(--sh-offwhite);
}

.topBtns {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: opacity 500ms ease-in;
}

.scrollBtns {
  margin-top: -1.5rem;
}

/* Active state: slide out to the right */
.topBtns.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}

.deleteButton {
  background-color: transparent;
  border: 0;
  margin: 0.25rem 1rem 0;
  cursor: pointer;
}

.deleteButton:hover {
    color: var(--sh-red);
}

.divider {
  width: calc(100% - 1rem);
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 var(--sh-darkgrey); /* Shadow effect */
}

.form-field {
  margin-left: 0.5rem;
  /*margin-bottom: 0.5rem;*/
  height: 3.5rem;
  width: 50%;
  max-width: 10rem;
}

.topBar {
  width: calc(100% - 1rem);
  margin: 0 0 0.15rem 0;
  padding: 0 0.5rem 0 0.5rem;
}

.selectLabel {
  margin: 1rem 0.5rem;
  color: var(--sh-offwhite);
  font-family: var(--primary-font), serif;
}

.devicePanel {
  padding: 1.5rem 0.5rem 0.5rem 0.65rem;
}

.devicesContainer {
  min-height: 10rem;
  max-height: 10rem;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;      /* Prevent wrapping */
  gap: 0;                /* Optional spacing between items */
  padding: 0.5rem 1px 1px 1px;
  scroll-behavior: smooth;  /* Optional for nicer scrolling */
}


