/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Outfit';
    src: url('./assets/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Harmattan';
    src: url(./assets/Harmattan-Regular.ttf);
}

body {
    --sh-lightgrey: #363B4B;
    --sh-darkgrey: #151423;
    --sh-offwhite: #D9D9D9;
    min-height: 100vh;
    margin: 0rem;
    background-color: var(--sh-lightgrey);
    font-family: 'Outfit';
}

.font-harmattan {
    font-family: 'Harmattan';
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.style-darkgrey {
    color: #363B4B;
}