/* You can add global styles to this file, and also import other style files */

/*@font-face {*/
/*    font-family: 'Outfit';*/
/*    src: url('./assets/Outfit-VariableFont_wght.ttf');*/
/*}*/

/*@font-face {*/
/*    font-family: 'Harmattan';*/
/*    src: url(./assets/Harmattan-Regular.ttf);*/
/*}*/

:root {
  --sh-red: #df2720;
  --sh-lightblue: #3592ca;
  --sh-lightgrey: #363B4B;
  --sh-darkgrey: #151423;
  --sh-offwhite: #D9D9D9;
  --sh-offwhite-hover: #b8b6b6;

  --primary-font: 'Red Hat Text';
}

/* width */
::-webkit-scrollbar {
  width: 0.25rem !important;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--sh-offwhite);
  box-shadow: inset 1px 1px 3px var(--sh-lightgrey);
  /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sh-darkgrey);
  /* border-radius: 5px; */
}

/* Google Font Icon Style */
.material-symbols-outlined {
  font-variation-settings:
   'FILL' 0,
   'wght' 0,
   'GRAD' 0,
   'opsz' 24
}

/* Gridster Styles */

gridster .gridster-column {
  /*width: 125px !important;*/
  border-left: 1px solid var(--sh-darkgrey) !important;
  border-right: 1px solid var(--sh-darkgrey) !important;
}

gridster .gridster-row {
  /*height: 125px !important;*/
  border-top: 1px solid var(--sh-darkgrey) !important;
  border-bottom: 1px solid var(--sh-darkgrey) !important;
}

/* Angular Material Styles */

.chart-content {
  height: 100% !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: var(--sh-offwhite) !important;

}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: var(--sh-lightblue) !important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: var(--sh-lightblue) !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--sh-lightblue) !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: var(--sh-lightblue) !important;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 !important;
}

.mat-fab .mat-button-wrapper {
  padding: 0px 8px 0px 8px !important;
}

.mat-drawer-content {
  overflow: auto !important;
  overflow-x: hidden !important;
}

.mat-bottom-sheet-container {
  background-color: var(--sh-lightgrey);
  color: var(--sh-offwhite);
}

.mat-list-base .mat-list-item-disabled {
  background-color: var(--sh-lightgrey);
}

.mat-list-base .mat-list-option {
  color: white;
}

.mat-list-base .mat-list-item {
  color: white;
}

.mat-list-single-selected-option, .mat-list-single-selected-option:hover, .mat-list-single-selected-option:focus {
  background: var(--sh-lightblue);
  border-radius: 0.2rem;
}

.mat-step-header:hover:not([aria-disabled]) {
  background-color: var(--sh-lightgrey);
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: var(--sh-lightblue);
}

.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: var(--sh-lightgrey);
}

.mat-step-header .mat-step-label.mat-step-label-active {
  color: var(--sh-offwhite);
}

.mat-toolbar {
  background: var(--sh-darkgrey);
}

.mat-form-field-flex {
  color: var(--sh-darkgrey);
  background-color: rgb(232, 240, 254);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: .4375rem .5rem;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  will-change: transform;
  margin-left: 0.5rem;
  color: var(--sh-lightgrey);
}

.mat-form-field-ripple {
  background-color: var(--sh-offwhite);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: var(--sh-offwhite);
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: var(--sh-lightblue);
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: var(--sh-darkgrey);
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1rem) scale(0.75) perspective(100px) translateZ(0.001px);
  width: 133.3333333333%;
}

.mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1rem) scale(0.75) perspective(100px) translateZ(0.00101px);
  width: 133.3333433333%;
}

.mat-input-element {
  caret-color: var(--sh-darkgrey);
}

.mat-raised-button {
  background-color: var(--sh-darkgrey);
  color: var(--sh-offwhite);
  font-family: var(--primary-font);
  font-weight: 300;
}

.mat-slide-toggle {
  height: 22px !important;
}

.mat-slide-toggle-bar {
  width: 45px !important;
  height: 22px !important;
  border-radius: 25px !important;
}

.mat-slide-toggle-thumb-container {
  width: 25px !important;
  height: 25px !important;
  left: -2px !important;
  top: -2px !important;
}

.mat-slide-toggle-thumb {
  height: 25px !important;
  width: 25px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(22px, 0, 0) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--sh-darkgrey);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--sh-lightblue);
  box-shadow: inset 0 0 0.5rem var(--sh-lightgrey);
}

.mat-snack-bar-container {
  min-width: 300px !important;
}

.mat-snack-bar-container {
  color: var(--sh-offwhite);
  background: var(--sh-lightgrey);
}

.mat-simple-snackbar-action {
  color: var(--sh-lightblue);
}

.mat-menu-panel {
  background: var(--sh-darkgrey) !important;
}

.mat-expansion-panel-content {
  font: var(--primary-font);
}

.input:-internal-autofill-selected {
  background-color: var(--sh-offwhite) !important;
}

html {
  height: 100vh;
}

body {
  font: var(--primary-font) !important;
  font-family: var(--primary-font) !important;
  height: 100vh !important;
  margin: 0 !important;
  background-color: var(--sh-lightgrey) !important;
}

.pageContent {
  height: 100%;
}

.floatLeft {
  float: left !important;
}

.floatRight {
  float: right !important;
}

.inlineBlock {
  display: inline-block !important;
}

.style-darkgrey {
  color: var(--sh-darkgrey) !important;
}

.style-lightgrey {
  color: var(--sh-lightgrey) !important;
}

.style-offwhite {
  color: var(--sh-offwhite) !important;
}

.darkBG {
  background-color: var(--sh-darkgrey) !important;
}

.lightBG {
  background-color: var(--sh-lightgrey) !important;
}

.whiteBG {
  background-color: var(--sh-offwhite) !important;
}

.centerText {
  text-align: center !important;
}

.rightText {
  text-align: right !important;
}

.leftText {
  text-align: left !important;
}

.fontLarge {
  font-size: 2.5rem !important;
}

.fullWidth {
  width: 100% !important;
}

.halfWidth {
  width: 50% !important;
}

.quarterWidth {
  width: calc(100% / 4) !important;
}

.thirdWidth {
  width: calc(100% / 3) !important;
}

.twoThirdWidth {
  width: calc((100% / 3) * 2) !important;
}

.justifyCenter {
  justify-content: center !important;
}

.justifyLeft {
  justify-content: left !important;
}

.displayFlex {
  display: flex !important;
}

.flexAlignCenter {
  align-items: center !important;
}

.flexGrow {
  flex-grow: 1 !important;
}

.positionRelative {
  position: relative !important;
}

.positionFixed {
  position: fixed !important;
}

.sensorReadingsDialog .mat-dialog-content {
  height: 100%;
}

.sensorReadingsDialog .mat-dialog-container {
  filter: drop-shadow(0px 0px 6px rgb(32, 32, 32));
  border-radius: 1rem;
  width: 90vw;
  background-color: var(--sh-lightgrey);
  color: var(--sh-offwhite);
}

.loginDialog .mat-dialog-container {
  filter: drop-shadow(0px 0px 6px rgb(32, 32, 32));
  border-radius: 1rem;
  padding-bottom: 3rem;
  width: 20rem;
  background-color: var(--sh-lightgrey);
  color: var(--sh-offwhite);
}

.newAccountDialog .mat-dialog-container {
  filter: drop-shadow(0px 0px 6px rgb(32, 32, 32));
  border-radius: 1rem;
  padding-bottom: 3rem;
  width: 20rem;
  background-color: var(--sh-lightgrey);
  color: var(--sh-offwhite);
}

.baseDialog .mat-dialog-container {
  filter: drop-shadow(0px 0px 6px rgb(32, 32, 32));
  border-radius: 1rem;
  padding-bottom: 3rem;
  width: 20rem;
  background-color: var(--sh-lightgrey);
  color: var(--sh-offwhite);
}
