/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Outfit';
    src: url('./assets/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Harmattan';
    src: url(./assets/Harmattan-Regular.ttf);
}

/* Angular Material Styles */

.mat-toolbar {
    background: var(--sh-darkgrey);
}

.mat-form-field-flex {
    color: var(--sh-darkgrey);
    background-color: var(--sh-offwhite);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
    will-change: transform;
    margin-left: 0.5rem;
    color: var(--sh-lightgrey);
}

.mat-form-field-ripple {
    background-color: var(--sh-offwhite);
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: var(--sh-offwhite);
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--sh-lightblue);
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: var(--sh-darkgrey);
}

.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-input-server:focus+.mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1rem) scale(0.75) perspective(100px) translateZ(0.001px);
    width: 133.3333333333%;
}

.mat-input-element {
    caret-color: var(--sh-darkgrey);
}

.mat-raised-button {
    background-color: var(--sh-darkgrey);
    color: var(--sh-offwhite);
}

.mat-slide-toggle-bar {
    flex-grow: 1 !important;
    width: 25px !important;
    height: 25px !important;
    border-radius: 15px !important;
}

.mat-slide-toggle-thumb-container {
    width: 30px !important;
    height: 30px !important;
    left: -3px !important;
}

.mat-slide-toggle-thumb {
    height: 30px !important;
    width: 30px !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
    transform: translate3d(32px, 0, 0) !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--sh-darkgrey);
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: var(--sh-lightblue);
}

.mat-snack-bar-container {
    min-width: 300px !important;
}

.mat-snack-bar-container {
    color: var(--sh-offwhite);
    background: var(--sh-lightgrey);
}

.mat-simple-snackbar-action {
    color: var(--sh-lightblue);
}

.mat-menu-panel {
    background: var(--sh-darkgrey) !important;
}
/* .sh-snackbar {
    text-align: center;
} */

html {
    height: 100%;
}

body {
    --sh-lightblue: #3592ca;
    --sh-lightgrey: #363B4B;
    --sh-darkgrey: #151423;
    --sh-offwhite: #D9D9D9;
    --sh-offwhite-hover: #b8b6b6;
    /* overflow-y: hidden; */
    min-height: 100vh;
    margin: 0rem;
    background-color: var(--sh-lightgrey);
    font-family: 'Outfit';
}

.font-harmattan {
    font-family: 'Harmattan' !important;
}

.floatLeft {
    float: left !important;
}

.floatRight {
    float: right !important;
}

.inlineBlock {
    display: inline-block !important;
}

.style-darkgrey {
    color: var(--sh-darkgrey) !important;
}

.style-lightgrey {
    color: var(--sh-lightgrey) !important;
}

.style-offwhite {
    color: var(--sh-offwhite) !important;
}

.darkBG {
    background-color: var(--sh-darkgrey) !important;
}

.lightBG {
    background-color: var(--sh-lightgrey) !important;
}

.whiteBG {
    background-color: var(--sh-offwhite) !important;
}

.centerText {
    text-align: center !important;
}

.rightText {
    text-align: right !important;
}

.leftText {
    text-align: left !important;
}

.fullWidth {
    width: 100% !important;
}

.thirdWidth {
    width: calc(100% / 3) !important;
}

.flexGrow {
    flex-grow: 1 !important;
}

.positionRelative {
    position: relative !important;
}

.loginDialog .mat-dialog-container {
    filter: drop-shadow(0px 0px 6px rgb(32, 32, 32));    
    border-radius: 1rem;
    padding-bottom: 3rem;
    width: 20rem;
    background-color: var(--sh-lightgrey);
    color: var(--sh-offwhite);
}

.newAccountDialog .mat-dialog-container {
    filter: drop-shadow(0px 0px 6px rgb(32, 32, 32));    
    border-radius: 1rem;
    padding-bottom: 3rem;
    width: 20rem;
    background-color: var(--sh-lightgrey);
    color: var(--sh-offwhite);
}

.baseDialog .mat-dialog-container {
    filter: drop-shadow(0px 0px 6px rgb(32, 32, 32));    
    border-radius: 1rem;
    padding-bottom: 3rem;
    width: 20rem;
    background-color: var(--sh-lightgrey);
    color: var(--sh-offwhite);
}